$sunsetOrange: #FE5F55;
$pastelGrey: #D6D1B1;
$orangeYellow: #FED766;
$teaGreen: #C7EFCF;
$mellowApricot: #F0B67F;

body {
  background-image: url("/resources/images/strawberries.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Maven Pro', sans-serif;
}

.total-wrapper {
  height: 100vh;
}

.top-wrapper {
  margin-bottom: 30px;
  text-align: center;
}

.padding-box {
  padding: 40px 30px;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  min-height: 10%;
  background-color: $teaGreen;
  text-align: center;
  h1 {
    color: $sunsetOrange;
    text-shadow: 1px 2px black;
    font-size: 60px;
    font-family: 'Passion One', cursive;
  }
}

.content-body {
  background-color: rgba(255, 255, 255, 0.8);
}

.transparency {
  min-height: 90%;
  padding-top: 80px;
}

.selected {
  color: $sunsetOrange;
}

.small {
  visibility: hidden;
}

.center {
  text-align: center;
}

#filter-header {
  text-align: left;
}

#cal-input {
  text-align: center;
}

.input-field {
  width: 100%;
  margin-bottom: 15px;
}

.add-button, .filter-button {
  background-color: $sunsetOrange;
  height: 40px;
  font-size: 20px;
  width: 100%;
  border-radius: 0;
}

.input-field {
  height: 40px;
  font-size: 18px;
  padding: 5px;
}

.food-items {
  font-size: 16px;
  border-bottom: 3px solid $teaGreen;
}

@media(max-width:767px){
  .small {
    visibility: visible;
    font-size: 18px;
  }
  .header-row {
    display: none;
  }
  .input-field {
    width: 100%;
  }
  .food-items {
    font-size: 24px;
    border-bottom: 5px solid $teaGreen;
  }
}
