$sunsetOrange: #FE5F55;
$pastelGrey: #D6D1B1;
$orangeYellow: #FED766;
$teaGreen: #C7EFCF;
$mellowApricot: #F0B67F;

body {
  background-image: url("/resources/images/strawberries.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Maven Pro', sans-serif;
}

.total-wrapper {
  height: 100vh;
}
.top-wrapper {
  margin-bottom: 30px;
}

.padding-box {
  padding: 40px 30px;
}

.header {
  min-height: 10%;
  background-color: $pastelGrey;
  text-align: center;
  color: $sunsetOrange;
  text-shadow: 1px 2px black;
  h1 {
    font-size: 60px;
    font-family: 'Passion One', cursive;
  }
}
.content-body {
  background-color: rgba(255, 255, 255, 0.8);
}

.transparency {
  min-height: 90%;
}

.selected {
  color: $sunsetOrange;
}

.small {
  visibility: hidden;
}

#cal-input {
  text-align: center;
}

.input-field {
  width: 100%;
  margin-bottom: 15px;
}

.add-button, .filter-button {
  background-color: $sunsetOrange;
  height: 40px;
  font-size: 20px;
  width: 100%;
}

.filter-button {
}

.input-field {
  height: 40px;
  font-size: 18px;
  padding: 5px;
}

@media(max-width:767px){
  .small {
    visibility: visible;
  }
  .header-row {
    display: none;
  }
  .input-field {
    width: 100%;
  }
}
